
#FimoDatabaseModelBuilderPageContent{
   margin-left: 10px;
   margin-top: 5px;
   }

#fimoModelBuilderTitleBox{
   background-color: #F8F8F8;
   margin: 20px;
   margin-bottom: 50px;
   border: 1px solid red;
   border-radius: 5px;
   }

#fubar{
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}


